:host{
    width: 30%;
}
.card-container{
    margin-top: 10px;
    display: flex;  
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
}
.image-section{
    padding: 0 25px 0 25px;
}
.body-image{
    width: 100%;
}
.date-card{
    text-align: right;
}