<article class="card-container">
  <h2>Title {{ id }}</h2>
  <section class="image-section">
    <img src="../../assets/img/card-image.jpg" alt="Main image" class="body-image">
  </section>
  <section>
    <p>{{ content }}</p>
  </section>
  <section>
    <p class="date-card">August {{ date }}</p>
  </section>
</article>