<h1 class="title">{{ title }}</h1>
<article class="app-container">
  <app-card *ngFor="let item of cardList; index as index;"
            [id]="index"
            [date]="index"
            [content]="item"></app-card>
</article>